/* portfolio styles */
/* GENERAL STYLES */

/* sections */
.intro--port,
.portfolio__part--left,
.portfolio__part--right {
    background: var(--clr-darkest);
}

.portfolio__part {
    margin: 0 auto;
    padding: 7em 0em 0;   

}

.intro__img--port,
.portfolio__item--section-img {
    box-shadow: var(--bs-dark);
}

/* ARROW */

.arrow-upper,
.arrow-lower {
    top: -3px;/*-10 */
    width: 3em;/*4 */
    transform: rotate(-45deg);
    left: -1px;
}
.arrow-lower {
    top: 18px;/*25 */
    transform: rotate(45deg);
}
@media screen and (max-width: 600px) {
    .arrow-upper, .arrow-lower {
        top: -1px;
        width: 2em;
        left: 3px;
      }
      .arrow-lower {
        top: 15px;
      }
      
}

/* TYPOGRAPHY */
.section__title--intro-port:hover {
    color: unset;
}

.section__title--intro {
    text-align: left;
    opacity: .8;
    z-index: 0;
}
.section__title--intro2 {
    text-align: left;
    opacity: 1;
    z-index: 0;
}
.section__title--intro3 {
    text-align: right;
    opacity: .8;
    z-index: 0;
    margin-left: 1.8em;
}
@media (max-width: 1920px) {
    .section__title--intro3 {
        margin-left: 1.5em;
    }
}
@media (max-width: 1644px) {
    .section__title--intro3 {
        margin-left: 1.8em;
    }
}
@media (max-width: 1300px) {
    .section__title--intro3 {
        margin-left: 1.5em;
    }
}
@media screen and (max-width: 1101px) {
    .section__title--intro3 {
        margin-left: 0;
    }
}

      
@media (max-width: 767px) {
.section__title--intro3 {
    margin-left: 0;
}
}
.section__title--intro-center {
    text-align: center;
    margin: 0;
}


.section__title--left,
.section__title--right {
    font-weight: var(--fw-bold);
    /* padding-top: .75em; */
}
.section__title--left {
    padding-right: .5em;
}

/* .section__title--intro, */
.section__title--left,
.section__subtitle--left {
    text-align: right;
}

.section__subtitle--right,
.section__subtitle--left {
    background: var(--clr-accent);
    padding: .125em 1em;/*was .25 1*/
    font-family: var(--ff-seconday);
    margin-bottom: 1em;
    color: var(--clr-dark);/*remove this for light font color (will inherit body)*/
}

.section__captions--right {
    float: right;
}

.section__img {
    overflow: hidden;
    /* max-width: 850px; NEED??*/
    /* removed in order to add 2 images to section */
    /* max-height: 550px; */
}

.section__img--po5-shirt {
    margin-bottom: 40px;
}
.section__button-outline {
    text-decoration: none;
    color: var(--clr-accent);
    background: none;
    outline: var(--clr-accent) solid 3px;
    right: 0;
    margin-bottom: 0;
}
.section__button-outline:hover {
    color: var(--clr-dark);
    background: var(--clr-accent);
}

/* SECTIONS */

/* @media (min-width: 600px) { */
    .intro--port,
    .portfolio__part--right,
    .portfolio__part--right2,
    .portfolio__part--center,
    .portfolio__part--left {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

        /* grid-column-gap: 1em; */
        /* removed row gap due to added rows sometimes not used in grid */
        /* grid-row-gap: 2em; */

        /* TEMP */
        /* grid-auto-rows: auto;
        grid-auto-columns: 1fr; */
    }
    .intro--port, 
    #work.intro--port {
        grid-template-areas: 
        "title title title title title" 
        "title2 title2 title2 title2 title2" 
        "title3 title3 title3 title3 title3" 
        "img img imgA img9 img9" 
        "img5 img5 text3 text3 text3";
        /* grid-template-areas: 
            "img img img title title"
            "img img img title title"
            "img img img subtitle subtitle";
            ; */
    }
    /* NEED THIS WHEN NO RESUME BUTTON */
    /* @media screen and (max-width: 768px) {
        #work.intro--port {
            margin-top: 10em;
        }
    } */
    .portfolio__part--right {
        grid-template-areas: 
        "title title title title title" 
        "text text text text text" 
        "img9 img img img img" 
        "img8 img2 img2 img7 img7";
        }
    .portfolio__part--right2 {
        grid-template-areas: 
            "title title title title title" 
            "title3 title3 title3 title3 title3" 
            "text9 text text text8 text8" 
            "img2 img2 img2 img7 img7" 
            "img9 img9 img3 img3 img3" 
            "textC text2 text2 text2 imgC" 
            "img img img imgD imgD" 
            "imgE imgE img4 img4 img4";
        }

    .portfolio__part--center{
        grid-template-areas: 
        "title3 title3 title3 title3 title3" 
        "text text text text text" 
        "img img img img img9" 
        "img8 img2 img2 img7 img7";
        }

    .portfolio__part--left {
        grid-template-areas: 
            "title title title title title" 
            "img5 img5 text3 text3 text3" 
            "img9 img img img img" 
            "text2 text2 text2 text9 text9" 
            "img4 img4 img4 img4 imgA" 
            "img3 img3 img3 img3 img3" 
            "img8 img8 img2 img2 img2" 
            "text text text4 text4 text4";
    }

    .section__title--right,
    .section__title--left {
        grid-area: title;
    }

    .section__subtitle--port,
    .section__subtitle--right,
    .section__subtitle--left {
        grid-column: 1 / -1;/*makes subtitle stretch across whole div*/
        grid-row: 4; /*to keep in right place 1/20 was 2*/
    }
    .section__subtitle--port,
    .section__subtitle--left {
        position: relative;
        text-align: right;
        /* right: 8.5em; */
width: calc(100% + -8.5em);
display: block;
        /* right: 2.5em;
        width: calc(100% + 2.5em);this adds the 2.5 to the right back onto the left side    was 1.5 */
        width: 23em;
    }
    .section__subtitle--right {
        position: relative;
        /* left: 19.5em; */
        /* width: calc(100% + 3.5em);to extend right side of purple banner */
        /* padding-left: 1em; */
        /* padding-right: calc(475px + 3em); set it up so text in subtitle wont go under the image at any screen size (475px is pic width, 1em left padding, 1em left */
        width: 33em;
        justify-self: right;/*for grid subtitles*/
        float: right; /*for non-grid outline buttons*/
    }
    @media screen and (max-width: 1920px){
        .section__subtitle--right {
            width: 23em;
        }
    }
        @media screen and (max-width: 1101px){
        .section__subtitle--right,
        .section__subtitle--port,
        .section__subtitle--left {
            width: 18em;
        }
    }
    @media screen and (max-width: 768px){
        .section__subtitle--right,
        .section__subtitle--port,
        .section__subtitle--left {
            width: 12em;
        }
    }


    .section__subtitle--more {
        width: 80%;
        right: 10.5em;
    }
    @media screen and (max-width: 768px){
        .short-title--button {
            display: none;
        }
    }
    .section__body, 
    .section__body2,
    .section__body3,
    .section__body4,
    .section__body5 {
        /* added for canvas */
        position: relative;
    }
    .section__body {
        grid-area: title3 / text1;
        /* added since removed row gap */
        grid-column: 4 / -1;
        padding-right: 3em;/*might have to make this specific to intro area*/
        margin-top: 2em;
    }
    @media screen and (max-width: 1101px) {
        .section__body {
            grid-area: text3;
        }
    }
    @media screen and (max-width: 768px) {
        .section__body {
            grid-column: 1 / -1;
            padding-left: 3em;
        }
    }
    
    .section__body2 {
        grid-area: text2;
    }
    .section__body3 {
        grid-area: text3;
    }
    .section__body4 {
        grid-area: text4;
    }
    .section__body5 {
        grid-area: text5;
    }
    .section__body--section2-eti{
        grid-area: text;
        margin-top: -3em;
    }
    .section__body--section3-eti{
        margin-top: -2em;
    }
    @media screen and (min-width: 769px) {
    .section__body--section3-eti{
        grid-area: text3;
    }
}
    .section__body--section4-eti {
        margin-top: -2em;
        margin-left: -7em;
        grid-area: text;
        grid-row: title3 / text;
        padding-right: 0;
    }
    @media screen and (max-width: 768px) {
        .section__body--section4-eti {
        padding-right: 3em;
        grid-column: 2 / -1;
        margin-top: 0;
        }
    }
    @media screen and (max-width: 575px) {
        .section__body--section4-eti {
        padding-left:4em;
        }
    }
    .section__body--section-center {
        grid-area: text;
        grid-column: 2 / -2;
        margin-top: -2em;
    }
        .section__body--intro {
        margin-top: 10.5em;
    }
    @media screen and (max-width: 1644px) {
    .section__body--intro {
        margin-top: 6.5em;
    }
}
    @media screen and (max-width: 1101px) {
        .section__body--intro {
        margin-top: 2em;        
    }
}
.section__body-contribution {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "role resp team"
    "role resp team"
    "role resp team";
}
.role {
    grid-area: role;
}
.responsibilites {
    grid-area: resp;
}
.team {
    grid-area: team;
    margin-left: 3em;
}
@media screen and (max-width: 1100px) {
    .section__body-contribution {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "role resp"
        "team resp"
    }
    .team {
        margin-left: 0;
        margin-top: -5em;
    }
    
}
@media screen and (max-width: 768px) {
    .section__body-contribution {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "role"
        "resp"
        "team";
    }
    .team {
        margin-top: 0;
    }
}
    .section__img {
        margin-top: 2em;
    }
    .intro__img--port,
    .portfolio__item--section-img {
        grid-area: title3 / img; /*1/20 was img*/
        position: relative;
        /* margin: 0 auto; USE IF want image across entire screen img img in grid instead of title img*/
    }
    .section__img2{
        grid-area: img2;
    }
    .section__img3{
        grid-area: img3;
    }
    .section__img4{
        grid-area: img4;
    }
    /* div.section__img:nth-child(6) {
        margin-top: -4em;
        } */
    
    @media screen and (min-width: 769px){
    div.section__img4:nth-child(5) {
    margin-left: 6em;
  }
    div.section__img4:nth-child(8) > img:nth-child(1) {
    margin-top: -6em;
  }
  div.section__img:nth-child(6) {
    padding-right: 4em;
    }
  div.section__img:nth-child(7) > img:nth-child(1) {
    padding-left: 6em;
  }
  /* eti main banners image / globe palette */
  section.portfolio__part:nth-child(8) > div:nth-child(5) > img:nth-child(1) {
    padding-right: 4em;
    padding-left: 4em;
    }
    /* globe components image / eti mission stmt image*/
    div.section__img4:nth-child(6) {
        margin-left: 6em;
        }
        /* globe commercial / eti responsive devices image*/
        /* div.section__img2:nth-child(7) {
            margin-top: -3em;
            } */
    .commercial {
        margin-top: -5em;
    }
}
    @media screen and (max-width: 768px){
        .section__body4 {
            grid-column: 1 / -1;
        }
    
        .section__img {
            grid-column: 1 / 5;
          }
          
        .section__img2 {
            grid-column: 1 / 5;
          }
          
          .section__img3 {
            grid-column: 2 / 6;
          }
          
          .section__body2 {
            grid-column: 1 / -1;
          }
          
          .section__img4 {
            grid-column: 2 / -1;
          }
          .section__body--section-center {
            grid-column: 1 / -1;
            margin-top: -1em;
        }
    


  
    }
    .section__img--section2-eti {
        grid-area: img;
    }
    .section__img2--section2-eti {
        margin-top: -2em;
    }
    .section__img-intro{
        grid-area: title3 / img;
    }
@media screen and (max-width: 1101px) {
    .section__img-intro {
        grid-column: 1 / 4;
        margin-top:6em;
    }
}
@media screen and (max-width: 768px) {
    .section__img-intro {
        margin-top: 4em;
    }
}
@media screen and (max-width: 575px) {
    .section__img-intro {
        margin-top: 3em;
    }
}

    .portfolio__item--section-img{
        /* max-height: 550px; */
        margin: 0 auto;
        /* added since added 2nd image in grid */
        /* padding-bottom: 1em; */
    }
/* } */


/* SPECIFIC to PAGES */

/* Po5 */
.section__img--po5-shirt {
        max-height: 550px;
    }

/* globe */
/* removed in order to add 2 images to section */
/* .intro__img--port-bfos {
    top: -120px;
} */
@media screen and (max-width: 1200px){
    .intro__img--port-bfos {
        top: 0;
    }
}
/* used for sketch image */
/* .portfolio__item--section-img-sketch {
    top: -150px;
} */

/* ETi */
/* .section__img--section-origSite {
    overflow: unset;
} */
/* .portfolio__part--eti-one{
    background: url(../images/eti/interface\ mockup\ v2\ 800x535px.png) no-repeat;
    background-size: 80vw;
    height: 100vh;
    margin: 0 auto;
} */