/* portfolio styles */
/* GENERAL STYLES */

/* sections */
.intro--port,
.portfolio__part--left {
    background: var(--clr-darkest);
}

.intro--port,
.portfolio__part {
    margin: 0 auto;
    padding-left: 4em;
    padding-right: 4em;
}

.intro__img--port,
.portfolio__item--section-img {
    box-shadow: var(--bs-dark);
}

/* TYPOGRAPHY */

.section__title--left,
.section__title--right {
    font-weight: var(--fw-reg);
    padding-top: .75em;
}
.section__title--intro,
.section__title--left {
    padding-right: .5em;
}

.section__title--intro,
.section__title--left,
.section__subtitle--left {
    text-align: right;
}

.section__subtitle--right,
.section__subtitle--left {
    background: var(--clr-accent);
    padding: .125em 1em;/*was .25 1*/
    font-family: var(--ff-seconday);
    margin-bottom: 1em;
    color: var(--clr-dark);/*remove this for light font color (will inherit body)*/
}

.section__subtitle--right {
    border-radius: 10px 0 0 10px;
}

.section__subtitle--intro,
.section__subtitle--left {
    border-radius: 0 10px 10px 0 ;
}

/* SECTIONS */

@media (min-width: 600px) {
    .intro--port,
    .portfolio__part--right,
    .portfolio__part--left {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 2em;
    }
    .intro--port {
        grid-template-areas: 
            "img title"
            "img subtitle";
    }
    .portfolio__part--right {
        grid-template-areas: 
            "title img"
            "subtitle img"
            "text img";
    }
    .portfolio__part--left {
        grid-template-areas: 
            "img title"
            "img subtitle"
            "img text";
    }

    .section__title--right,
    .section__title--left {
        grid-area: title;
    }

    .section__subtitle--port,
    .section__subtitle--right,
    .section__subtitle--left {
        grid-column: 1 / -1;/*makes subtitle stretch across whole div*/
        grid-row: 2; /*to keep in right place */

    }
    .section__subtitle--port,
    .section__subtitle--left {
        position: relative;
        text-align: right;
        right: 2.5em;
        width: calc(100% + 2.5em);/*this adds the 2.5 to the right back onto the left side    was 1.5*/
    }
    .section__subtitle--right {
        position: relative;
        left: -1em; 
        width: calc(100% + 3.5em);/*to extend right side of purple banner*/
        padding-left: 1em;
        padding-right: calc(475px + 3em); /*set it up so text in subtitle wont go under the image at any screen size (475px is pic width, 1em left padding, 1em left*/
    }

    .section__body {
        grid-area: text;
    }
    .intro__img--port,
    .portfolio__item--section-img {
        grid-area: img;
        position: relative;
    }
}


