*,
*::before,
*::after {
    box-sizing: border-box;
}

/* CUSTOM PROPERTIES */
:root {
    --ff-primary: "Be Vietnam", sans-serif;
    --ff-seconday: "Glegoo", serif;

    --fw-reg: 300;
    --fw-bold: 800;

    --clr-light: #ececec;
    --clr-dark: #030005;/*old #303030;*/
    --clr-darkest: #111111;
    --clr-accent: #4b6d99;/*old #a494a4;*/

    --bs-dark: 0.25em 0.25em .75em rgba(0, 0, 0, .25),
        0.125em 0.125em .25em rgba(0, 0, 0, .15);
    --bs-light: 0.25em 0.25em .75em rgba(255, 255, 255, 0.25),
        0.125em 0.125em .25em rgba(255, 255, 255, 0.15);

        /*under 800px*/
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --lh-h1: 3.5rem;
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.25rem;
        
        --lh-h1: 5rem;
    }
}

@media (min-width: 1200px) {
    :root {
        --fs-h1: 5rem;
        --fs-h2: 4.125rem;
        --fs-h3: 2rem;
        --fs-h4: 1.625rem;
        --fs-body: 1rem;
        --fs-captions: .8rem;

        --lh-h1: 6rem;
    }
}

/* CUSTOM CLASSES */

.darkest-bg {
    background: var(--clr-darkest);
}

/* @media (min-width: 1600px) {
    :root {
        --fs-h1: 6rem;
        --fs-h2: 5rem;
        --fs-h3: 2.5rem;
        --fs-body: 1.5rem;
    }
} */
/* GENERAL STYLES */

html {
    scroll-behavior: smooth;
}

body {
    background: var(--clr-darkest);
    /*was light */
    color: var(--clr-light);
    /*was dark*/
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.8;
}

section {
    max-width: 1920px;
    margin: 0 auto;
    padding: 10em 0 0;
    /*old 10em 0*/
    overflow: hidden;
}

/* section {
} */

p {
    border-radius: 10px;
}

img, video {
    display: block;
    max-width: 100%;
}

strong {
    font-weight: var(--fw-bold);
}

/* :focus { 
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
} */

/* BUTTON */

.btn {
    display: inline-block;
    padding: .5em 2.5em;
    background: var(--clr-accent);
    color: var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    font-size: var(--fs-h3);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    border-radius: 10px;
    transition: transform 200ms ease-in-out;
    /* added below for projects button */
    position: absolute;
    left: 35%;

}

.btn:hover {
    transform: scale(1.1);
}

    /* added for projects button */
.center {
    position: relative;
    margin-top: 125px;
    height: 100px;
}


/* TYPOGRAPHY */

h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 {
    font-size: var(--fs-h1);
    line-height: var(--lh-h1);
}

h2 {
    font-size: var(--fs-h2);
}

h3 {
    font-size: var(--fs-h3);
}

.section__title {
    margin-bottom: .5em;
    /* added for canvas */
    position: relative;
}

.section__title--intro {
    font-weight: var(--fw-reg);
    /* padding-top: .75em; */
}

.section__title--intro strong {
    display: block;
    /* will make name always on a second line*/
}

.section__title--intro:hover {
    color: var(--clr-accent);
}
@media screen and (max-width: 600px){
    .section__title--intro:hover{
        color: var(--clr-light);
    }
}

.section__subtitle {
    margin: 0;
    font-size: var(--fs-h3);
}

.section__img {
    grid-area: img;
    position: relative;
}
.section__subtitle--intro,
.section__subtitle--about {
    background: var(--clr-accent);
    padding: .125em 1em;
    /*was .25 1*/
    font-family: var(--ff-seconday);
    margin-bottom: 1em;
    color: var(--clr-dark);
    /*remove this for light font color (will inherit body)*/
}

.section__subtitle--about,
.section__subtitle--gd {
    border-radius: 10px 0 0 10px;
}

.section__subtitle--work {
    color: var(--clr-accent);
    font-weight: var(--fw-bold);
    margin-bottom: 2em;
}
.section__captions {
    font-size: var(--fs-captions);
    color: var(--clr-accent);
}
.section__link {
    color: var(--clr-accent);
    text-decoration: none;
}

.section__link:hover {
    color: var(--clr-light);
}

/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    padding: 1em 3em;
    /*old 1 2*/
    background-image: url(../images/watercolor.jpg);
    background-size: cover;
    background-color: var(--clr-darkest);
    background-position-y: -2em;
    /*kk*/
    /*for appearing header on scroll: */
    position: fixed;
    top: 0;
    width: 100%;
    transition: top 0.3s;
    z-index: 1000;
}

.logo {
    max-width: 100px;
    height: 80px;/*old 140 */
}
.logo--img{
    max-width: 60%;
}

@media (max-width: 600px){
    .logo {
    height: 50px;
    width: 40px;
}
}
.nav {
    position: fixed;
    background: var(--clr-dark);
    color: var(--clr-light);
    top: 0;
    /* z-index: 100; */
}

.nav__link {
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h2);
    text-decoration: none;
}

.nav__link:hover {
    color: var(--clr-dark);
    font-family: var(--ff-seconday);
}

.nav-toggle {
    padding: .5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 150px;
    /*was 1 originally then 5em, 15em for use with gsap toggle*/
    top: 3em;/*6 */
    z-index: 1000;
}
/* @media screen and (max-width: 800px){
    .nav-toggle {
        top: 75px;
    }
} */
@media screen and (max-width: 600px){
    .nav-toggle {
        top: 20px;
        right: 5em;
    }
}

.nav-toggle:focus {
    outline: none;
}

.nav-open .nav-toggle {
    position: fixed;
}

/* HAMBURGER */
.hamburger {
    display: block;
    position: relative;
}

.hamburger-top,
.hamburger-bottom,
.hamburger,
.arrow-upper,
.arrow-lower {
    background: var(--clr-accent);
    width: 5em;/*8 */
    height: 10px;
    border-radius: 1em;
}
@media (max-width: 600px){
    .hamburger-top,
    .hamburger-bottom,
    .hamburger {
        width: 3em;
        height: 5px;
    }
}

/* INTRO section */

/* BASE styles based on >1600px */
.intro {
        /* remove pos and zindex for canvas in bg */
        /* position: relative;
        z-index: 100; */
    /*brings section to the top of .nav so hovering works, then js brings it back to 0 when nav menu appears*/
    background-color: var(--clr-darkest);
}

.section__subtitle--intro {
    display: inline-block;
    /*makes fed bg shorter instead of full length of div - makes the div width the size of itself*/
}

.intro__img {
    min-width: 500px;
    position: relative;
    z-index: 2;
    /*to be sure image is on top of purple banner*/
}

.intro__img--silly {
    grid-area: img;
    justify-self: start;
    /* top: -300px; */
    transform: rotateY(180deg);
}

.intro__img--sideways {
    grid-area: img2;
    transform: rotateY(180deg);
    /* top: -300px; */
    justify-self: end;
    /*moves img .intro__img--sideways flush right*/
}

/* @media (max-width: 1600px) {
    .intro__img {
        width: 400px;
    }
} */
@media (max-width: 1200px) {
    .intro__img {
        min-width: 350px;
    }
}
@media (max-width: 800px){
    .intro__img {
        min-width: 250px;
    }
}
@media (max-width: 600px){
    .intro__img {
        max-width: 175px;
        min-width: 350px;
    }
}


/* GRID intro */
@media (min-width: 600px) {
    .intro {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-column-gap: 1em;
        grid-template-areas:
            "title title img2"
            "img subtitle img2"
            "img subtitle img2";
        justify-items: center;
        /* align-items: start; */
        /* margin-top: 175px; */
    }
}
.section__title--intro {
    grid-area: title;
    /* justify-self: center; */
    margin-left: 50px;
}
.section__subtitle--intro {
    align-self: start;
    position: relative;
}

/* section__subtitle specific to index page */
.section__subtitle--fed {
    grid-column: 1 / 3;
    /* makes the front-end dev title stretch along bottom instead of under name*/
    grid-row: 2;
    text-align: right;
    top: 4.375em;
    /*was -3.75*/
    left: -20em;
    width: calc(100% + 5em);
    /* width: 100%; */
}

.section__subtitle--gd {
    grid-column: 1 / -1;
    /* makes the front-end dev title stretch along bottom instead of under name*/
    grid-row: 2;
    text-align: left;
    top: .5em;
    /*was -1.75*/
    right: -20em;
    /*was -3.75 - this makes gd text show from behind img*/
    /* width: calc(100% + 5em);was -3.75 */
    /* this will add the 1.5 em back on to the right side to align again with name */
    width: 100%;
}

@media screen and (max-width: 1599px) {
    .section__subtitle--gd {
        right: 0em;
        width: calc(100% - 25em);
    }

    .section__subtitle--fed {
        right: 0em;
        width: 44em;
    }
}

@media screen and (max-width: 1399px) {
    .section__subtitle--fed {
        right: 0em;
        width: 50em;
    }
}

@media screen and (max-width: 1199px) {
    .intro {
        margin-top: 175px;
    }
    .section__subtitle--gd {
        right: -5em;
        width: 23em;
    }
    .section__subtitle--fed {
        right: 0em;
        width: 53em;
    }
}

@media screen and (max-width: 799px) {
    .section__subtitle--gd {
        right: -5em;
        width: 20em;
    }
}

@media screen and (min-width: 800px) and (max-width: 935px){
    h1 {
        font-size: 3em;
    }
}
@media screen and (max-width: 600px){
    .intro {
        display: flex;
        flex-direction: column;
        margin: 80px 0 0 0;
        padding: 0;
    }
    .section__title--intro {
        align-self: center;
        margin-left: 0;
        position:relative;
        /* top: -240px; */
        width: 225px;
        text-shadow: 2px 2px var(--clr-darkest);
    }
    .section__subtitle--fed {
        margin: 0;
        order: 0;
        /* top: 0; */
        top: 7rem;
        left: -170px;
        width: 17em;
    }
    .intro__img--silly{
        order: 1;
        /* top: -120px; */
        z-index: 0;
    }
    h1.section__title{
        order: 2;
    }
    .intro__img--sideways{
        order: 3;
        align-self: end;
        /* top: -340px; */
    }
    .section__subtitle--gd{
        margin: 0;
        order: 4;
        align-self: end;
        /* top: -140px; */
        top: -75px;
        right: -4em
    }
}





/* .section__subtitle--fed { */
/* grid-column: -2 / 1; makes the front-end dev title stretch along bottom instead of under name */
/* grid-row: 2;
    }
    .section__subtitle--gd { */
/* grid-column: 2 / -1; makes the front-end dev title stretch along bottom instead of under name */
/* grid-row: 2;
    } */
/* section__subtitle specific to index page */
/* .section__subtitle--fed { */
/* grid-column: -2 / 1; makes the front-end dev title stretch along bottom instead of under name */
/* grid-row: 2; */
/* text-align: right; */
/* left: -10em;  */
/* top: 4.375em;was -3.75 */
/* width: calc(100% + 10.375em); */
/* } */
/* .section__subtitle--gd { */
/* grid-column: 2 / -1; makes the front-end dev title stretch along bottom instead of under name */
/* grid-row: 2; */
/* text-align: left; */
/* align-self: start; */
/* right: -8.5em;was -3.75 - this makes gd text show from behind img */
/* top: .5em; was -1.75 */
/* width: calc(100% + 6.125em);was -3.75 */
/* this will add the 1.5 em back on to the right side to align again with name */
/* width: 100%; */
/* } */

/* WHAT I DO  section */

.whatIdo {
    background-color: rgba(3,0,5,.9);/*old 19,19,19,.9*/
    background-image: url(../images/pepperoni/laptop-code.png);
    background-size: cover;
    background-blend-mode: multiply;
    color: var(--clr-light);
    text-align: center;
    position: relative;
    z-index: 100;
    padding-bottom: 10em;/*old - none*/
}

.section__title--whatIdo {
    color: var(--clr-accent);
    position: relative;
}

.section__title--whatIdo::after {
    content: ' ';
    display: block;
    width: 2em;
    height: 2px;
    /*was 1*/
    margin: 0.5em auto 1em;
    background: var(--clr-light);
    opacity: 0.25;
}

.whatIdo__descriptions {
    margin-bottom: 4em;

}

.whatIdo__descriptions--each {
    /* max-width: 500px; */
    margin: 0 auto;
    flex-basis: 100%;
    /*to make columns even in width*/
}

@media (min-width: 1100px) {
    .whatIdo__descriptions {
        display: flex;
        max-width: 1500px;
        /*was 1200*/
        margin-left: auto;
        margin-right: auto;
        /*instead of margin: 0 auto; so doesnt override margin-bottom on .whatIdo__descriptions--each*/
    }
    .whatIdo__descriptions--each{
        max-width: 500px;
    }
    /* to add space between the individual .whatIdo__descriptions--each 's */
    .whatIdo__descriptions--each+.whatIdo__descriptions--each{
       /*this essentially ignores the first .whatIdo__descriptions--each (Design + Dev) since it is not have a sibling before it. the + looks for the sibling of an element AFTER.  so not the outer margins just the 2 middle margins*/
        margin-left: 2em;
    }
    .whatIdo__descriptions--each:nth-child(1){
        margin-left: 50px;
    }
    .whatIdo__descriptions--each:nth-child(3){
        margin-right: 50px;
    }

}
@media screen and (max-width: 1099px){
    .whatIdo__descriptions--each {
        max-width: 900px;
        margin: 0 auto 50px;
    }
    .whatIdo__descriptions--each h3 {
        color: var(--clr-accent);
    }
}
@media screen and (max-width: 1000px){
    .whatIdo__descriptions--each {
        margin-left: 50px;
        margin-right: 50px;
    }
}
/* ABOUT */

.about-me__body {
    grid-area: text;
    /*kk*/
    /* width: 75%; */
    margin-right: 30px;
    /* added for canvas */
    position: relative;

}

.about-me {
    background-color: var(--clr-darkest);
    padding-left: 4em;
    /* removed for canvas */
    /* position: relative;
    z-index: 100; */
}
.section__img--kk{
    box-shadow: var(--bs-dark), var(--bs-dark), var(--bs-dark);
    border-radius: 10px;
}
.my-work__img {
    transform: rotate(-90deg);
    position: relative;
    min-width: 500px;
    top: -50px;/*how high head peeks out*/
    right: -50em;
}
@media screen and (max-width: 1800px){
    .my-work__img {
    right: -54em;
    }
}
@media screen and (max-width: 1600px){
    .my-work__img {
        right: -40em;
    }
}
@media screen and (max-width: 1300px){
    .my-work__img{
        /* top: 550px; */
        right: -30em;
    }
}
@media screen and (max-width: 1200px){
    .my-work__img{
        /* top: 425px;
        right: -30em; */
        min-width:  350px;
    }
}
@media (max-width: 900px){
    .my-work__img {
        top: -50px;
        right: -10em;
        min-width: 250px;
    }
}
/* @media (max-width: 799px) {
    .my-work__img {
        top: 355px;
    }
} */
/* @media (max-width: 770px) {
    .my-work__img {
        top: 385px;
        right: -10em;
    }
} */
@media (max-width: 602px){
    .my-work__img {
        /* max-width: 175px;
        min-width: unset; */
        top: -20px;
        right: 0;
    }
}


/* @media(min-width: 800px) { */
.about-me {
    display: grid;
    grid-template-columns: 2fr 1fr;
    /*was 200px*/
    grid-template-areas:
        "title img"
        "subtitle img"
        "text img";
    grid-column-gap: 2em;
}

.section__title--about {
    grid-area: title;
}

.section__subtitle--about {
    grid-column: 1 / -1;
    grid-row: 2;
    position: relative;
    left: -1em;
    width: calc(100% + 1em);
    margin: 0;
}

/* } */
@media (max-width: 1199px) {
    .about-me {
        grid-template-columns: 1fr;
    }

    section {
        padding: 4em 0;
    }
}

@media(max-width:602px) {
    .about-me {
        padding-bottom: 6em;
    }
}

/* PORTFOLIO - my work */

.my-work {
    background-color: #000000;
    /*was var(--clr-darkest)*/
    color: var(--clr-accent);
    text-align: center;
    position: relative;
    z-index: 101;
    /* reduce section padding */
    padding-top: 6em;
}

.my-work__div-img {
    /*peek a boo image*/
    position: absolute;
    /* changed from -1 due to canvas */
    z-index: 0;
}

.section__subtitle--tagline {
    color: var(--clr-light);
    padding-bottom: 1em;
}

.portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    position: relative;
    z-index: 100;
    grid-gap: 1em;
    /*brings portfolio foward on top of nav__item and nav__item--hover-element*/
}
.overlay {
    position: relative;
    display: inline-block;
    box-sizing: border-box;

}
.overlay:hover .overlay__box {
    transform: scale(1);
    /* opacity: 1; */
}
.overlay:hover .overlay__box--image img {
    transform: scale(1.2);
}
.overlay__box {
    background: rgba(164, 148, 164, 0.9);
    position: absolute;
    transform: scale(0);
    /* opacity: 0; */
    transition: transform 0.8s;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;

}
.overlay__box--content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: left;
}
.overlay__box--image {
    position: relative;
    overflow: hidden;
    border-radius: 10px;

}
 .work-created{
    /* opacity: 0; */
    color: var(--clr-dark);
    font-size: var(--fs-h3);
    font-family: var(--ff-seconday);
    list-style: none;
} 
/* .work-created:hover{
    opacity: 1;
}  */
@media (min-width:1200px) {
    .portfolio {
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    }
}

@media (min-width: 1500px) {
    .portfolio {
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    }
}

.portfolio__item {
    background: var(--clr-accent);
    overflow: hidden;
    border-radius: 10px;
}

.portfolio__item--img {
    transition:
        transform 750ms cubic-bezier(.5, 0, .5, 1),
        opacity 250ms linear;
}

.portfolio__item:focus {
    position: relative;
    z-index: 2;
}

.portfolio__item--img:hover,
.portfolio__item:focus .portfolio__item--img {
    transform: scale(1.2);
    opacity: .75;
}

/* FOOTER */

.footer {
    /* background: var(--clr-dark); */
    /*was #111*/
    color: var(--clr-accent);
    text-align: center;
    padding: 2.5em 0;
    font-size: var(--fs-h3);
        /* removed for canvas */
    /* position: relative;
    z-index: 100; */
}

.footer--bg {
    background-image: url(../images/watercolor.jpg);
    background-size: 100%;
    /*kk*/
    height: 4em;
    margin-bottom: 2em;
        /* added for canvas */
    position: relative;
}

.footer a {
    color: inherit;
    text-decoration: none;
    /* added for canvas */
    position: relative;

}

.footer__link {
    font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-list__link:hover {
    opacity: .7;
    transform: scale(3);
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;
}

.social-list__item {
    margin: 0 .5em;
}

.social-list__link {
    padding: .5em;
}

